html { scroll-behavior: smooth; scroll-padding-top: 100px; /* Esto evita que el menú tape el título */ }
@tailwind base;
@tailwind components;
@tailwind utilities;
body { color: white; background: #0B0C10; overflow-x: hidden; }

/* Utilidad Glassmorphism Reutilizable */ .glass { background: rgba(255, 255, 255, 0.03); backdrop-filter: blur(16px); border: 1px solid rgba(255, 255, 255, 0.08); }
